body {
    margin: 0px; 
    padding: 0px; 
    display: grid; 
}

#header { /* Helps with the color contrast and structure of the website*/
    width: 100%; 
    height: 100%; 
    margin: 0px;   
    display: grid;  
    text-align: center; 
    background-color: rgb(22, 25, 27); 
    color: white; 
} 

h1, h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
}

h1 {
    font-size: 70px; 
    margin-bottom: 0; 
}

h2 {
    font-size: 40px; 
}

#remain {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px; 
    text-align: center; 
    padding: 50px; 
}

#heading {
    font-size: 100px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center; 
}

#output {
    font-size: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    text-align: center;
}

/*Grid and Flex displays help adjust for mobile screen size*/

#buttons {
    width: 100%; 
    height: 100%; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center; 
    justify-items: center;  
}

#subs {
    display: flex; 
    flex-direction: column; 
    grid-column: 1; 
    row-gap: 20px; 
}

#adds {
    display: flex; 
    flex-direction: column;
    grid-column: 3; 
    row-gap: 20px; 
}

#util {
    display: flex; 
    flex-direction: column; 
    grid-column: 2; 
    row-gap: 20px; 
}

#sub {
    background-color: #2d9af3;
    border: none;
    height: 80px; 
    width: 150px; 
    margin-left: 10px; 
    margin-right: 10px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    grid-column: 1; 
    cursor: pointer; 
}

#add {
    background-color: #ff0000;
    border: none;
    height: 80px; 
    width: 150px; 
    margin-left: 10px; 
    margin-right: 10px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 3; 
    cursor: pointer; 
}

#subbtn, #resetbtn{
    background-color: #cacaca;
    border: none;
    height: 100px; 
    width: 200px; 
    margin-left: 20px; 
    margin-right: 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 2; 
    cursor: pointer; 
}

#subbtn {
    margin-right: 5px; 
}

#logdiv {
    width: 100%; 
    height: 400px; 
    margin-top: 30px; 
}

#log {
    width: 100%; 
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background-color:rgb(22, 25, 27); 
    color: white; 
    width: 50%; 
}

#win {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;   
    text-align: center; 
    margin: 20px; 
    background-color:rgb(22, 25, 27); 
    color: white; 
}

#num {
    color: red; 
}
